* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #ffffff;
  font-family: poppins-semibold;
}

@font-face {
  font-family: 'poppins-regular';
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'poppins-medium';
  src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'poppins-semibold';
  src: url(./fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: 'poppins-bold';
  src: url(./fonts/Poppins-Bold.ttf);
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./img/bg-burger-queen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.layout__top-shape {
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
}

.layout__logo {
  position: absolute;
  left: 0;
  top: 0;
  margin: 3.5vw 0 0 3.5vw;
  width: 24vw;
}

.layout > p {
  z-index: 1;
  margin-top: 8vh;
  font-size: 4vw;
}

.layout > img {
  position: absolute;
  width: 16vw;
  bottom: 2vh;
  right: 2vw;
}

.btn-user-opc-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
  height: 65vh;
  overflow: scroll;
}

.btn-user-opc-container::-webkit-scrollbar {
  display: none;
}

.btn-user-opc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65vw;
  height: 16.5vh;
  margin-bottom: 35px;
  background: #009688;
  box-shadow: -3px 5px 4px rgba(0, 0, 0, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 80px;
}

.btn-user-opc > p {
  max-width: 25vw;
  text-align: center;
  margin-right: 2vw;
}

.btn-user-opc > img {
  width: 18vw;
}

.layout__btn-salir {
  background-color: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: -3px 5px 4px rgba(0, 0, 0, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 55px;
  width: 50vw;
  height: 7.5vh;
  font-size: 5vw;
  font-family: poppins-medium;
  margin-top: 1vh;
}

@media (min-width: 768px) {
  .layout__logo {
    width: 13.5vw;
    margin: 2.5vw 0 0 2.5vw;
  }

  .layout__top-shape {
    width: 32vw;
  }

  .layout > p {
    margin-top: 0;
    margin-bottom: 8vh;
    font-size: 2vw;
  }

  .layout > img {
    bottom: 3vh;
    right: 3vw;
    width: 10vw;
  }

  .btn-user-opc-container {
    flex-direction: row;
    overflow: inherit;
    margin: 0;
    height: 65vh;
  }

  .btn-user-opc-container {
    display: flex;
    align-items: center;
    overflow: inherit;
  }

  .btn-user-opc__first-btn {
    margin-right: 6vw;
  }

  .btn-user-opc {
    width: 30vw;
    height: 18vh;
    border-radius: 150px;
  }

  .btn-user-opc > p {
    max-width: 14vw;
    font-size: 2.5vw;
    margin-right: 1vw;
  }

  .btn-user-opc > img {
    width: 10vw;
  }

  .layout__btn-salir {
    font-size: 2.5vw;
    width: 20vw;
    max-height: 6.5vw;
  }
}
